<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="edit-user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.id})}">

                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" th:insert="~{fragments/adminActions/user-form :: form(false, false)}"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</th:block>