<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="navbar(user)">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" style="margin-left: 15px">
                <strong th:text="${user.email}"></strong>
                with roles:
                <span th:text="${#strings.setJoin(user.authorities, ' ')}"></span>
            </a>

            <ul class="navbar-nav ml-auto mb-auto">
                <li class="nav-item">

                    <a th:href="@{/logout}">
                        <button type="button" class="btn btn-dark">Logout</button>
                    </a>

                </li>
            </ul>

        </div>
    </nav>
</th:block>