<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/head :: head('Admin panel')}"></th:block>
    <th:block sec:authorize="hasRole('USER')" th:replace="~{fragments/head :: head('User page')}"></th:block>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar(${user})}"></div>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2">
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        </div>

        <div class="col-10" style="text-align: justify;">
            <div th:replace="~{fragments/content :: content}"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>