<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
    <nav>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Admin</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>User</span>
            </a>
        </div>
    </nav>
</th:block>