<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/pageBlocks/head :: head('User page')}"></th:block>
</head>
<body style="height: 100vh">

<div th:replace="~{fragments/pageBlocks/navbar :: navbar(${user})}"></div>

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 p-0 pt-3">
            <div th:replace="~{fragments/pageBlocks/sidebar :: sidebar(false)}"></div>
        </div>
        <div class="col-10 pt-3 px-4" style="background-color: #f8f9fa">
            <div th:replace="~{fragments/user/content :: content(${user}, ${allAuthorities})}"></div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/pageBlocks/footer :: footer}"></div>

</body>
</html>